/* default  */
.main-wrapper {
  max-width: var(--section-width);
  margin-inline: auto;
  overflow: hidden;
}

.section {
  padding-block: 80px;
}

.container {
  max-width: calc(var(--container-width) + var(--padding-x)*2);
  padding-inline: var(--padding-x);
  margin-inline: auto;
}

.section-title-line {
  position: relative;
  padding-left: 55px;
}

.section-title-line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 44px;
  height: 0.5px;
  background-color: var(--grey);
  transform: translateY(-50%);
  z-index: 1000;
}

.section-title {
  margin-bottom: 32px;
}

.section-sub-title {
  font-family: 'Optima';
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
  color: var(--dark);
}

.text-descr {
  color: var(--dark);
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}


/* link, button, input  */
.input-default {
  width: 100%;
  height: var(--input-height);
  padding: 12px;
  border: none;
  background-color: #fff;
}

.address-link {
  color: var(--yellow-light);
  transition: color var(--transition-duration-2) ease-in-out;
}

.address-link:hover {
  color: var(--yellow-dark);
}

.more-link {
  color: var(--yellow-light);
  transition: color var(--transition-duration-2) ease-in-out;
}

.more-link:hover {
  color: var(--yellow-dark);
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  padding: 5px 24px;
  border: var(--border-yellow);
  font-family: 'Optima';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  transition-property: background-color, border-color, color;
  transition-duration: var(--transition-duration-2);
  transition-timing-function: ease-in-out;
}

.btn-default:hover {
  color: #fff;
  background-color: var(--yellow-light);
}

.btn-default:active {
  border-color: var(--yellow-dark);
  background-color: var(--yellow-dark);
  color: #fff;
}

.btn-default:disabled {
  border-color: var(--grey);
  color: var(--grey);
  pointer-events: none;
}



/* color, font  */
.font-light {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  color: var(--grey);
}

.font-bold {
  font-family: 'Optima';
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.color-yellow {
  color: var(--yellow-dark);
}

.color-yellow-light {
  color: var(--yellow-light);
}




/* flex   */
.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-center {
  display: flex;
  align-items: center;
}

.content-center {
  display: flex;
  justify-content: center;
}

.content-between {
  display: flex;
  justify-content: space-between;
}

.items-end {
  display: flex;
  align-items: flex-end;
}

.content-end {
  display: flex;
  justify-content: flex-end;
}