@import './normalize.css';
@import './base.css';
@import './default.css';


/* glop  */
.consult__title {
  color: #fff;
  margin-bottom: 24px;
}

.consult__input-wrap {
  max-width: 300px;
  margin-right: 10px;
}

.consult__btn {
  color: #fff;
}



/* header  */
.header {
  position: relative;
  background-image: url("../img/femida.png");
  background-position: bottom -32px right 92px;
  background-repeat: no-repeat;
  background-size: min(80%, 650px);
}

.header__bg-femida {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/femida-shadow.png');
  background-position: bottom -31px right 70px;
  background-repeat: no-repeat;
  background-size: min(86%, 691px);
  z-index: -1;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/bg-header.jpg"), rgba(35, 34, 40, 0.91);
  filter: blur(2px) hue-rotate(-113deg);
  background-size: cover;
  background-blend-mode: hue;
  z-index: -2;
}

.head {
  position: relative;
  border-bottom: 1px solid rgb(177 177 177 / 16%);
  margin-bottom: 65px;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding-block: 24px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: var(--grey);
  transition: color var(--transition-duration-2) ease-in-out;
}

.nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--yellow-light);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: var(--transition-duration-2);
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.nav__link:hover {
  color: var(--yellow-light);
}

.nav__link:hover::before {
  opacity: 1;
}

.nav__link:active {
  color: var(--yellow-light);
}

.nav__link:active::before {
  opacity: 1;
  transform: scaleX(0.5);
}

.nav__link.disabled {
  pointer-events: none;
}

.nav__item:not(:last-child) {
  margin-right: 34px;
}

.head__burger-btn {
  position: relative;
  display: none;
  height: 33px;
  width: 33px;
  transition: transform .3s ease-in-out;
  z-index: 10001;
}

.head__burger-btn.active {
  transform: rotateY(180deg);
}

.head__burger-btn_active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  background-image: url('../img/burger.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .2s ease;
  opacity: 1;
  z-index: 1;
}

.head__burger-btn_close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  background-image: url('../img/burger-close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .2s ease;
  transform: rotateY(180deg);
  opacity: 0;
  z-index: -1;
}

.head__burger-btn.active .head__burger-btn_close {
  z-index: 1;
  opacity: 1;
}

.head__burger-btn.active .head__burger-btn_active {
  z-index: -1;
  opacity: 0;
}

.burger-menu {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  background-color: var(--dark);
  z-index: 10000;
}

.burger-menu.active {
  display: block;
}

.fade-right-in {
  animation: var(--animation-fade-forwards) fadeRightIn;
}

.fade-right-out {
  animation: var(--animation-fade-forwards) fadeRightOut;
}

@keyframes fadeRightIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.burger-menu__item {
  margin-bottom: 30px;
  color: var(--grey);
}

.burger-menu__item:active {
  color: var(--yellow-dark);
}

.telephone {
  color: var(--yellow-light);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.hero {
  max-width: 593px;
  width: 100%;
  padding-bottom: 74px;
}

.hero__title {
  margin-bottom: 32px;
  font-size: min(8vw, 56px);
  line-height: min(11vw, 72px);
  text-shadow: 0 5px 5px #000;
  color: #fff;
}

.hero__descr {
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 58px;
  color: var(--grey);
  text-shadow: 0 5px 5px #000;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.header__list {
  width: fit-content;
}

.header__item {
  width: clamp(100px, calc((100vw - var(--padding-x)*2 - 4px) / 3), 302px);
  padding: 32px 38px;
  background-color: rgba(35, 34, 40, 1);
}

.header__item:not(:last-child) {
  margin-right: 2px;
}

.header__num {
  display: block;
  margin-bottom: 16px;
  font-size: calc(18px + 8 * (180vw - 320px) / 880);
  color: var(--yellow-light);
}

.header__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey);
}



/* owner  */
.owner {
  position: relative;
  padding-left: 40%;
}

.owner__bg-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--grey-lighter);
  z-index: -3;
}

.owner__bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 376px;
  background: url('../img/bg-owner.jpg'), var(--yellow-light);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
  z-index: -2;
}

.owner__owner-img {
  position: absolute;
  bottom: -5px;
  left: 30px;
  width: 387px;
  z-index: 100;
  z-index: -1;
}

.owner__owner-img img {
  height: 100%;
  width: 100%;
}

.owner__box {
  /* max-width: min(52vw, 767px);
  padding-right: 50px; */
  max-width: 767px;
  width: 100%;
  margin-left: auto;
}

.owner__text-wrap {
  padding-inline: 100px;
}

.owner__quote {
  position: relative;
  max-width: 523px;
  margin-bottom: 103px;
}

.owner__quote::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: -95px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.owner__quote::after {
  content: '';
  position: absolute;
  top: 17px;
  right: -35px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-up.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.owner__sub-title {
  padding-right: 40px;
  text-shadow: 0 5px 5px var(--grey);
}

.owner__descr {
  max-width: 523px;
  width: 100%;
}

.owner__name {
  margin-bottom: 10px;
}



/* why-us  */
.why-us {
  text-align: center;
  background-image: url('../img/balance.png');
  background-repeat: no-repeat;
  background-size: 684px;
  background-position: right;
  background-color: #fff;
}

.why-us__sub-title {
  margin-bottom: 58px;
}

.why-us__list {
  margin-bottom: 58px;
}

why-us__item {
  width: calc((100% - 24px * 3) / 4);
}

.why-us__item:not(:last-child) {
  margin-right: 24px;
}

.box {
  position: relative;
  width: 100%;
  border: 1px solid var(--grey-light);
  padding: 24px 32px;
  text-align: start;
  overflow: hidden;
  transition: box-shadow .3s ease-out;
  z-index: 1;
}

.box:hover {
  box-shadow: 0 11px 11px 5px var(--grey);
}

.box::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--yellow-dark);
  overflow: hidden;
  transition: transform .5s ease-out;
  z-index: -1;
}

.box:hover::before {
  transform: scale(200);
}

.box__img {
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  transition: background-image var(--transition-duration-2);
}

.box__img_1 {
  background-image: url('../img/clock.svg');
}

.box__img_2 {
  background-image: url('../img/case.svg');
}

.box__img_3 {
  background-image: url('../img/horse.svg');
}

.box__img_4 {
  background-image: url('../img/book.svg');
}

.box:hover .box__img_1 {
  background-image: url('../img/clock-white.svg');
}

.box:hover .box__img_2 {
  background-image: url('../img/case-white.svg');
}

.box:hover .box__img_3 {
  background-image: url('../img/horse-white.svg');
}

.box:hover .box__img_4 {
  background-image: url('../img/book-white.svg');
}

.box__title {
  margin-bottom: 16px;
  transition: color var(--transition-duration-2);
}

.box__descr {
  transition: color var(--transition-duration-2);
}

.box:hover .box__title,
.box:hover .box__descr {
  color: #fff;
}




/* specialists */
.specialists {
  background-color: #fff;
}

.specialists__left {
  max-width: 455px;
  width: 100%;
  margin-right: 40px;
}

.specialists__title {
  margin-bottom: 32px;
}

.specialists__descr {
  margin-bottom: 40px;
}

.specialists__right {
  overflow: auto;
  max-width: 725px;
  padding-bottom: 20px;
}

.specialists__right::-webkit-scrollbar {
  height: 10px;
}

.specialists__right::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--grey-lighter);
}

.specialists__right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--grey-light);
}

.specialists__item {
  display: flex;
}

.specialists__item:nth-child(even) .specialists__box {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.specialists__item:not(:last-child) {
  margin-right: 20px;
}

.specialists__box {
  max-width: 229px;
  min-width: 229px;
  width: 100%;
}

.specialists__img {
  position: relative;
  max-height: 312px;
  min-height: 312px;
  height: 100%;
  margin-bottom: 24px;
  background-color: var(--yellow-dark);
  transition: background-color .3s ease-in-out;
  overflow: hidden;
}

.specialists__box:hover .specialists__img {
  background-color: var(--dark);
}

.specialists__img img {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  /* transition: opacity .3s ease-in-out; */
}

.specialists__img .specialists__img_default {
  opacity: 1;
}

.specialists__img .specialists__img_hover {
  opacity: 0;
}

.specialists__box:hover .specialists__img_default {
  opacity: 0;
}

.specialists__box:hover .specialists__img_hover {
  opacity: 1;
}

.specialists__item:nth-child(even) .specialists__img {
  margin-bottom: 0;
}

.specialists__name {
  display: block;
  margin-bottom: 10px;
}

.specialists__exp {
  font-size: 14px;
}




/* clients  */
.clients {
  text-align: center;
  background: url("../img/bg-clients.jpg"), #2B2A30;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}

.clients__title {
  margin-bottom: 32px;
}

.clients__sub-title {
  color: #fff;
}

.clients__item {
  min-width: 131px;
  width: calc((100% - 16px * 5) / 6);
  margin-right: 16px;
}

.clients__box {
  width: 100%;
  height: 100%;
  padding: 24px;
  border: var(--border-grey);
}

.clients__img-wrap {
  margin-bottom: 16px;
  margin-inline: auto;
}

.clients__img {
  object-fit: contain;
  width: 152px;
  height: 82px;
  max-width: 152px;
  max-height: 82px;
}

.clients__figcaption {
  text-align: center;
  color: #fff;
}



/* review */
.reviews {
  text-align: center;
  background-color: var(--grey-lighter);
}

.reviews__sub-title {
  margin-bottom: 55px;
}

.review {
  position: relative;
  max-width: 898px;
  min-width: 270px;
  margin-inline: auto;
  padding-inline: 22px;
  padding-top: 54px;
}

.review__decor {
  position: absolute;
  top: 56%;
  left: 0;
  right: 0;
  height: 185px;
  border: var(--border-yellow);
  transform: translateY(-50%);
}

.review__img-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  height: 108px;
  width: 108px;
  border-radius: 100%;
  border: 10px solid var(--grey-lighter);
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 1;
}

.review__texts {
  position: relative;
  padding: 88px 24px 80px 24px;
  background-color: #fff;
}

.review__texts::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 55px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.review__texts::after {
  content: '';
  position: absolute;
  top: -17px;
  right: 35px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-up.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.review__descr {
  max-width: 687px;
  width: 100%;
  margin-bottom: 40px;
  font-style: italic;
}

.review__name {
  margin-bottom: 16px;
}



/* articles */
.articles {
  background-color: #fff;
}

.articles__sub-title {
  margin-bottom: 0;
}

.articles__top {
  margin-bottom: 56px;
}

.articles__item {
  width: calc((100% - 24px * 3) / 4);
}

.articles__item:not(:last-child) {
  margin-right: 24px;
}

.article {
  /* max-width: 306px; */
  width: 100%;
  padding-top: calc(77%);
  background-repeat: no-repeat;
  background-size: contain;
}

.article_bg1 {
  background-image: url('../img/articles1.jpg');
  background-size: cover;
}

.article_bg2 {
  background-image: url('../img/articles2.jpg');
}

.article_bg3 {
  background-image: url('../img/articles3.jpg');
}

.article_bg4 {
  background-image: url('../img/articles4.jpg');
}

.article__texts {
  text-align: start;
  padding: 32px;
  padding-top: 25px;
}

.article__texts_1 .article__date {
  color: var(--grey);
}

.article__texts_1 * {
  color: #fff;
}

.article__date {
  display: inline-block;
  margin-bottom: 16px;
}

.article__title {
  margin-bottom: 16px;
}



/* news  */
.news {
  background-color: var(--grey-lighter);
}

.news__descr {
  margin-bottom: 40px;
}

.news__form {
  max-width: 719px;
  width: 100%;
}

.news__input-wrap {
  margin-right: 16px;
}

.news__input::placeholder {
  font-size: 14px;
  color: var(--grey-lighter);
}



/* contacts  */
.contacts__left:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.contacts__left:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.contacts__right {
  max-width: 767px;
  width: 100%;
  padding: 80px 72px 89px;
  background: url("../img/bg-footer.jpg"), #2B2A30;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 right 0;
  background-blend-mode: color-burn;
}

/*
.contacts__inner {
  min-width: 593px;
  max-width: 593px;
} */

.contacts__sub-title {
  color: #fff;
}

.contacts__list {
  column-count: 2;
  margin-bottom: 40px;
}

.contacts__item {
  column-count: 2;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__type {
  display: inline-block;
  margin-right: 14px;
  color: #fff;
}

.contacts__value {
  color: var(--yellow-light);
}

.footer {
  padding: 22px;
  text-align: center;
  background-color: var(--grey-lighter);
}


/* config plagins  */
.ymaps-layers-pane {
  filter: brightness(50%) grayscale(1);
  -webkit-filter: brightness(50%) grayscale(1);
}

.swiper {
  width: 100%;
  max-width: var(--container-width);
  min-height: 470px;
}

.swiper-pagination-bullet {
  position: relative;
  height: 8px;
  width: 8px;
  background-color: #fff
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 16px;
  width: 16px;
  border: 1px solid var(--yellow-dark);
  background-color: transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: var(--yellow-dark);
  transform: translate(-50%, -50%);
}

.reviews .swiper-button-next,
.reviews .swiper-button-prev {
  height: 48px;
  width: 48px;
  border: 1px solid var(--yellow-dark);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--yellow-dark);
  transition-property: background color border-color outline-color .2s ease-in-out;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.reviews .swiper-button-prev {
  background-image: url('../img/prev-arrow.svg');
}

.reviews .swiper-button-next {
  background-image: url('../img/next-arrow.svg');
}

.reviews .review__btn:hover {
  border-color: var(--yellow-light);
  background-color: transparent;
}

.reviews .swiper-button-prev:hover {
  background-image: url('../img/prev-arrow-black.svg');
}

.reviews .swiper-button-next:hover {
  background-image: url('../img/next-arrow-black.svg');
}

.reviews .review__btn:focus {
  outline: 3px solid var(--yellow-light);
}

.reviews .review__btn:active {
  border-color: var(--yellow-light);
  background-color: var(--yellow-light);
  color: #fff;
}

.reviews .review__btn:disabled {
  border-color: var(--grey);
  background-color: var(--grey);
  color: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}