@import './base.css';
@import './normalize.css';

/* default  */
.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.items-center {
  display: flex;
  align-items: center;
}

.content-center {
  display: flex;
  justify-content: center;
}

.content-between {
  display: flex;
  justify-content: space-between;
}

.items-end {
  display: flex;
  align-items: flex-end;
}

.content-end {
  display: flex;
  justify-content: flex-end;
}

.section {
  padding-block: 80px;
  overflow: hidden;
}

.container {
  max-width: calc(var(--container-width) + var(--padding-x)*2);
  padding-inline: var(--padding-x);
  margin-inline: auto;
}

.section-title-line {
  position: relative;
  padding-left: 55px;
}

.section-title-line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 44px;
  height: 0.5px;
  background-color: var(--gray);
  transform: translateY(-50%);
  z-index: 1000;
}

.section-title {
  margin-bottom: 32px;
}

.section-sub-title {
  font-family: 'Optima';
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
  color: var(--dark);
}

.text-descr {
  color: var(--dark);
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.font-light {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  color: var(--gray);
}

.font-bold {
  font-family: 'Optima';
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.input-default {
  border: 1px solid var(--gray-light);
  width: 100%;
  height: var(--input-height);
  padding: 12px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-default {
  padding: 12px 24px;
  border: var(--border-yellow);
  line-height: 18px;
}

.btn-tel {
  line-height: 18px;
  color: var(--yellow-light);
}

.color-yellow {
  color: var(--yellow-dark);
}



/* header  */
.header {
  position: relative;
  background-image: url("../img/femida.png");
  background-position: top 121px right 92px;
  background-repeat: no-repeat;
}

.header__bg-femida {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/femida-shadow.png');
  background-position: top 100px right 65px;
  background-repeat: no-repeat;
  z-index: -1;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/bg-header.jpg"), rgba(35, 34, 40, 0.91);
  filter: blur(2px) hue-rotate(-113deg);
  background-size: cover;
  background-blend-mode: hue;
  z-index: -2;
}

.head {
  border-bottom: 1px solid rgb(177 177 177 / 16%);
}

.logo {
  height: 40px;
  width: 30px;
}

.nav__link {
  display: inline-block;
  padding-block: 24px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}

.nav__item:not(:last-child) {
  margin-right: 34px;
}

.telephone {
  color: var(--yellow-light);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.hero {
  max-width: 593px;
  width: 100%;
}

.hero__title {
  font-size: 56px;
  line-height: 72px;
  color: #fff;
  text-shadow: 0 5px 5px #000;
}

.hero__descr {
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 58px;
  color: var(--gray);
  text-shadow: 0 5px 5px #000;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.consult {
  margin-bottom: 74px;
}

.consult__title {
  color: #fff;
  margin-bottom: 24px;
}

.consult__input {
  max-width: 300px;
  margin-right: 10px;
}

.consult__btn {
  color: #fff;
}

.header__item {
  padding: 32px 38px;
  background-color: rgba(35, 34, 40, 0.65);
}

.header__item:not(:last-child) {
  margin-right: 2px;
}

.header__num {
  display: block;
  margin-bottom: 16px;
  font-size: 40px;
  color: var(--yellow-light);
}

.header__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray);
}



/* owner  */
.owner {
  position: relative;
}

.owner__bg-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gray-lighter);
  z-index: -1;
}

.owner__bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 376px;
  background: url('../img/bg-owner.jpg'), var(--yellow-light);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
  z-index: -1;
}

.owner__owner-img {
  position: absolute;
  bottom: -5px;
  left: 125px;
  width: 387px;
  z-index: 100;
}

.owner__owner-img img {
  height: 100%;
  width: 100%;
}

.owner__box {
  padding-right: 244px;
}

.owner__title {}

.owner__quote {
  position: relative;
  margin-bottom: 103px;
}

.owner__quote::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: -100px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-down.svg');
  background-repeat: no-repeat;
  background-size: auto;

}

.owner__quote::after {
  content: '';
  position: absolute;
  top: 17px;
  right: -95px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-up.svg');
  background-repeat: no-repeat;
  background-size: auto;

}

.owner__sub-title {
  margin-bottom: 40px;
  text-shadow: 0 5px 5px var(--gray);
}

.owner__descr {
  max-width: 523px;
  width: 100%;
}

.owner__name {
  margin-bottom: 10px;
}

.owner__position {}



/* why-us  */
.why-us {
  text-align: center;
  background-image: url('../img/balance.png');
  background-repeat: no-repeat;
  background-size: 684px;
  background-position: right;
}

.why-us__title {}

.why-us__sub-title {
  margin-bottom: 58px;
}

.why-us__list {
  margin-bottom: 58px;
}

.why-us__item:not(:last-child) {
  margin-right: 24px;
}

.box {
  border: 1px solid var(--gray-light);
  padding: 24px 32px;
  text-align: start;

}

.box__img {
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
}

.box__img_1 {
  background-image: url('../img/clock.svg');
}

.box__img_2 {
  background-image: url('../img/case.svg');
}

.box__img_3 {
  background-image: url('../img/horse.svg');
}

.box__img_4 {
  background-image: url('../img/book.svg');
}

.box__title {
  margin-bottom: 16px;
}

.box__descr {}

.request-call {}

.specialists {}

.specialists__left {
  max-width: 455px;
  min-width: 455px;
  margin-right: 100px;
}

.specialists__title {
  margin-bottom: 32px;
}

.specialists__sub-title {
  margin-bottom: 40px;
}

.specialists__descr {
  margin-bottom: 40px;
}

.specialists__right {
  overflow: auto;
}

.specialists__list {}

.specialists__item:not(:last-child) {
  margin-right: 20px;
}

.specialists__box {
  max-width: 229px;
  width: 100%;
}

.specialists__img {
  min-height: 312px;
  max-height: 312px;
  margin-bottom: 24px;
  background-color: var(--yellow-dark);
}

.specialists__text {}

.specialists__name {
  display: block;
  margin-bottom: 10px;
}

.specialists__exp {
  font-size: 14px;
}

.clients {}

.clients__title {}

.clients__sub-title {}

.clients__list {}

.clients__item {}

.clients__box {}

.clients__figure {}

.clients__img {}

.clients__figcaption {}

.reviews {}

.reviews__sub-title {}

.reviews__review {}

.reviews__decor {}

.review__avatar {}

.review__descr {}

.review__name {}

.review__position {}

.articles {}

.content {}

.articles__top {}

.flex {}

.articles__top-text {}

.section-title {}

.section-title-line {}

.section-sub-title {}

.articles__list {}

.articles__item {}

.articles__inner {}

.article {}

.article__date {}

.article__title {}

.news {}

.news__descr {}

.news__form {}

.footer {}

.footer__top {}

.footer__contacts {}

.footer__address {}

.footer__list {}

.footer__item {}

.footer__type {}

.footer__value {}

.footer__form {}

.footer__bottom {}