@import './base.css';
@import './default.css';
@import './normalize.css';



/* header  */
.header {
  position: relative;
  background-image: url("../img/femida.png");
  background-position: top 121px right 92px;
  background-repeat: no-repeat;
}

.header__bg-femida {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/femida-shadow.png');
  background-position: top 100px right 65px;
  background-repeat: no-repeat;
  z-index: -1;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/bg-header.jpg"), rgba(35, 34, 40, 0.91);
  filter: blur(2px) hue-rotate(-113deg);
  background-size: cover;
  background-blend-mode: hue;
  z-index: -2;
}

.head {
  border-bottom: 1px solid rgb(177 177 177 / 16%);
}

.logo {
  height: 40px;
  width: 30px;
}

.nav__link {
  display: inline-block;
  padding-block: 24px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: var(--grey);
}

.nav__item:not(:last-child) {
  margin-right: 34px;
}

.telephone {
  color: var(--yellow-light);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.hero {
  max-width: 593px;
  width: 100%;
}

.hero__title {
  font-size: 56px;
  line-height: 72px;
  color: #fff;
  text-shadow: 0 5px 5px #000;
}

.hero__descr {
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 58px;
  color: var(--grey);
  text-shadow: 0 5px 5px #000;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.consult {
  margin-bottom: 74px;
}

.consult__title {
  color: #fff;
  margin-bottom: 24px;
}

.consult__input {
  max-width: 300px;
  margin-right: 10px;
}

.consult__btn {
  color: #fff;
}

.header__item {
  padding: 32px 38px;
  background-color: rgba(35, 34, 40, 0.65);
}

.header__item:not(:last-child) {
  margin-right: 2px;
}

.header__num {
  display: block;
  margin-bottom: 16px;
  font-size: 40px;
  color: var(--yellow-light);
}

.header__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey);
}



/* owner  */
.owner {
  position: relative;
}

.owner__bg-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--grey-lighter);
  z-index: -1;
}

.owner__bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 376px;
  background: url('../img/bg-owner.jpg'), var(--yellow-light);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
  z-index: -1;
}

.owner__owner-img {
  position: absolute;
  bottom: -5px;
  left: 125px;
  width: 387px;
  z-index: 100;
}

.owner__owner-img img {
  height: 100%;
  width: 100%;
}

.owner__box {
  padding-right: 244px;
}

.owner__title {}

.owner__quote {
  position: relative;
  margin-bottom: 103px;
}

.owner__quote::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: -100px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-down.svg');
  background-repeat: no-repeat;
  background-size: auto;
}

.owner__quote::after {
  content: '';
  position: absolute;
  top: 17px;
  right: -95px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-up.svg');
  background-repeat: no-repeat;
  background-size: auto;
}

.owner__sub-title {
  margin-bottom: 40px;
  text-shadow: 0 5px 5px var(--grey);
}

.owner__descr {
  max-width: 523px;
  width: 100%;
}

.owner__name {
  margin-bottom: 10px;
}

.owner__position {}



/* why-us  */
.why-us {
  text-align: center;
  background-image: url('../img/balance.png');
  background-repeat: no-repeat;
  background-size: 684px;
  background-position: right;
}

.why-us__title {}

.why-us__sub-title {
  margin-bottom: 58px;
}

.why-us__list {
  margin-bottom: 58px;
}

.why-us__item:not(:last-child) {
  margin-right: 24px;
}

.box {
  border: 1px solid var(--grey-light);
  padding: 24px 32px;
  text-align: start;

}

.box__img {
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
}

.box__img_1 {
  background-image: url('../img/clock.svg');
}

.box__img_2 {
  background-image: url('../img/case.svg');
}

.box__img_3 {
  background-image: url('../img/horse.svg');
}

.box__img_4 {
  background-image: url('../img/book.svg');
}

.box__title {
  margin-bottom: 16px;
}

.box__descr {}

.request-call {}

.specialists {}

.specialists__left {
  max-width: 455px;
  min-width: 455px;
  margin-right: 100px;
}

.specialists__title {
  margin-bottom: 32px;
}

.specialists__sub-title {
  margin-bottom: 40px;
}

.specialists__descr {
  margin-bottom: 40px;
}

.specialists__right {
  overflow: auto;
}

.specialists__list {}

.specialists__item:not(:last-child) {
  margin-right: 20px;
}

.specialists__box {
  max-width: 229px;
  width: 100%;
}

.specialists__img {
  min-height: 312px;
  max-height: 312px;
  margin-bottom: 24px;
  background-color: var(--yellow-dark);
}

.specialists__text {}

.specialists__name {
  display: block;
  margin-bottom: 10px;
}

.specialists__exp {
  font-size: 14px;
}




/* clients  */
.clients {
  text-align: center;
  background: url("../img/bg-clients.jpg"), #2B2A30;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}

.clients__title {
  margin-bottom: 32px;
}

.clients__sub-title {
  margin-bottom: 40px;
  color: #fff;
}

.clients__list {}

.clients__item {
  margin-right: 16px;
}

.clients__box {
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
  padding: 24px;
  border: var(--border-grey);
}

.clients__figure {}

.clients__img-wrap {
  max-height: 86px;
  min-height: 86px;
  margin-bottom: 16px;
}

.clients__img {}

.clients__figcaption {
  text-align: center;
  color: #fff;
}



/* review */
.reviews {
  text-align: center;
  background-color: var(--grey-lighter);
}

.reviews__sub-title {
  margin-bottom: 103px;
}

.review {
  position: relative;
  max-width: 898px;
  margin-inline: auto;
  padding-inline: 22px;
}

.review__decor {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 185px;
  border: var(--border-yellow);
  transform: translateY(-50%);
}

.review__img-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  height: 108px;
  width: 108px;
  border-radius: 100%;
  border: 10px solid var(--grey-lighter);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}

.review__avatar {}

.review__texts {
  position: relative;
  padding: 88px 24px 80px 24px;
  background-color: #fff;
}

.review__texts::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 55px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-down.svg');
  background-repeat: no-repeat;
  background-size: auto;
}

.review__texts::after {
  content: '';
  position: absolute;
  top: -17px;
  right: 35px;
  height: 45px;
  width: 45px;
  background-image: url('../img/quote-up.svg');
  background-repeat: no-repeat;
  background-size: auto;
}

.review__descr {
  max-width: 687px;
  width: 100%;
  margin-bottom: 40px;
  font-style: italic;
}

.review__name {
  margin-bottom: 16px;
}

.review__position {}

.articles {}

.content {}

.articles__top {
  margin-bottom: 56px;
}

.flex {}

.articles__top-text {}

.section-title {}

.section-title-line {}

.section-sub-title {}

.articles__list {}

.articles__item:not(:last-child) {
  margin-right: 24px;
}

.article {
  max-width: 306px;
  width: 100%;
  padding-top: 239px;
  background-repeat: no-repeat;
  background-size: contain;
}

.article_bg1 {
  background-image: url('../img/articles1.jpg');
}

.article_bg2 {
  background-image: url('../img/articles2.jpg');
}

.article_bg3 {
  background-image: url('../img/articles3.jpg');
}

.article_bg4 {
  background-image: url('../img/articles4.jpg');
}

.article__texts {
  text-align: start;
  padding: 32px;
  padding-top: 25px;
}

.article__texts_1 .article__date {
  color: var(--grey);
}

.article__texts_1 * {
  color: #fff;
}

.article__date {
  display: inline-block;
  margin-bottom: 16px;
}

.article__title {
  margin-bottom: 16px;
}



/* news  */
.news {
  background-color: var(--grey-lighter);
}

.news__sub-title {
  margin-bottom: 40px;
}

.news__descr {
  margin-bottom: 40px;
}

.news__form {}

.news__input {
  min-width: 534px;
  max-width: 534px;
  width: 100%;
  margin-right: 16px;
}

.news__input::placeholder {
  font-size: 14px;
  color: var(--grey);
}



/* contacts  */
.contacts {}

.contacts__right {
  padding: 80px 72px 89px;
  min-width: 800px;
  background: url("../img/bg-footer.jpg"), #2B2A30;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 right 0;
  background-blend-mode: color-burn;
}

.contacts__inner {
  min-width: 593px;
  max-width: 593px;
}

.contacts__sub-title {
  margin-bottom: 40px;
  color: #fff;
}

.contacts__contacts {}

.contacts__address {}

.contacts__list {
  column-count: 2;
  margin-bottom: 40px;
}

.contacts__item {
  column-count: 2;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__type {
  display: inline-block;
  margin-right: 14px;
  color: #fff;
}

.contacts__value {
  color: var(--yellow-light);
}

.contacts__consult {
  margin-bottom: 0;
}

.contacts__form {}

.contacts__bottom {}

.footer {
  padding: 22px;
  text-align: center;
  background-color: var(--grey-lighter);
}